body{
  /* margin: 0 auto; */
  padding: 0;
  background-color: rgb(63, 71, 71);
  color: white;
  /* justify-content: center; */
}
header{
  /* margin: 0; */
  padding: 2rem;
  /* align-self: center; */
  height: 14rem;
  background-color: rgb(63, 71, 71);
  color: white;
  margin-bottom: 2rem;
  text-align: center;
}

h1{
  margin-top: 0;
  font-size: 6rem;
  font-family: "Hobbiton Brushhand";
}

h3{
  font-size: 2.5rem;
  font-family: "MiddleEarth";
}

main{
  padding-top: 3rem;
  background: url("../img/background-img2.jpg") no-repeat;
  width: 100vw;
  height: 85vh;
  justify-content: center;
}

.container{
  width: 75vw;
  height: 77vh;
  background: rgba(63, 71, 71, .7);
  border-radius: 10px;
  
}

#questionNumber{
  margin-top: 1rem;
  font-size: 3rem;
  font-family: "MiddleEarth";
}

.col{
  /* border: 3px solid white; */
  margin: 0 3rem 0 3rem;
  text-align: center;
}

.row{
  display: flex;
  /* border: 3px solid red; */
  justify-content: center;
}

#row2{
  font-size: 2rem;
  font-family: "MiddleEarth";
  /* font-style: italic; */
}

#row3{
  margin-top: 3rem;
}

#question{
  font-size: 1.5rem;
  font-family: Georgia;
  font-weight: bold;
}

#row4{
  margin-top: 3rem;
}

#answer1, #answer2,
#answer3, #answer4 {
  border-radius: 10px;
  height: 3.5rem;
  padding: .5rem;
  font-family: Georgia;
  font-size: 1.5rem;
}

/* #test{
  border-radius: 10px;
  height: 3.5rem;
  padding: .5rem;
  font-family: Georgia;
  font-size: 1.5rem;
} */

.hover:hover{
  border: 2px solid white;
  cursor: pointer;
}

#row5{
  margin-top: 3.5rem;
}

#answerFeedback{
  font-size: 1.7rem;
  font-family: "MiddleEarth"
}

#row6{
  margin-top: 5rem;
}

#startBtn{
  font-size: 2rem;
  font-family: "MiddleEarth";
  letter-spacing: .5rem;
  border: 3px solid white;
  border-radius: 10px;
  cursor: pointer;
}

#startBtn:hover{
  border: 3px solid gray;
  background: rgb(63, 71, 71);
  color: white;
}

#row7{
  margin-top: 2rem;
}

#tagline{
  font-size: 1.5rem;
  font-style: italic;
  font-family: "MiddleEarth"
}

@media (max-width: 575.98px) {
  header{
    /* margin: 0; */
    padding: 1.5rem;
    /* align-self: center; */
    height: 9rem;
    /* background-color: rgb(63, 71, 71);
    color: white;
    margin-bottom: 2rem;
    text-align: center; */
  }

  h1{
    /* margin-top: 0; */
    font-size: 3rem;
    /* font-family: "Hobbiton Brushhand"; */
  }

  h3{
    font-size: 1.7rem;
    /* font-family: "MiddleEarth"; */
  }

  #row2{
    font-size: 1.19rem;
    /* font-family: "MiddleEarth"; */
    /* font-style: italic; */
  }

  #questionNumber{
    /* margin-top: .7rem; */
    font-size: 1.2rem;
    /* font-family: "MiddleEarth"; */
  }

  .col{
    /* border: 3px solid white; */
    margin: 0 .7rem 0 .7rem;
    text-align: center;
  }

  #row3{
    margin-top: 1.3rem;
  }

  #question{
    font-size: .9rem;
    font-family: Georgia;
    font-weight: bold;
  }

  #row4{
    margin-top: 1.9rem;
  }

  /* .smallScreen{
    width: 15rem;
    height: 3rem;
    font-size: .2rem;
  } */

  #answer1, #answer2,
  #answer3, #answer4 {
  border-radius: 10px;
  height: 3.5rem;
  width: 5rem;
  text-decoration: underline;
  border: none;
  padding: 0;
  font-family: Georgia;
  font-size: 1.1rem;
  }

  

  #row5{
    margin-top: 3.5rem;
  }

  #answerFeedback{
    font-size: 1rem;
  }

  #row6{
    margin-top: 3rem;
  }

  #startBtn{
    font-size: 1.2rem;
    /* font-family: "MiddleEarth"; */
    letter-spacing: .4rem;
    border: 2px solid white;
    border-radius: 10px;
    /* cursor: pointer; */
  }

  #row7{
    margin-top: 1.5rem;
  }
  
  #tagline{
    font-size: 1rem;
    /* font-style: italic;
    font-family: "MiddleEarth" */
  }
}
